@model WatchlistApp.ViewModels.WatchlistItemViewModel

<h2>Добавить элемент</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control">
            <option value="">-- Выбери тип --</option>
            <option>Фильм</option>
            <option>Сериал</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Добавить</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
